#swagger-ui pre.version {
padding: 2px !important;
background: initial !important;
}
#swagger-ui .topbar {
display: none;
}
blockquote {
background: #f99;
}
aside.menu > ul { 
position: fixed;
overflow-y: auto;
height: calc(100vh - 150px);
}
body > #swagger-ui,
body > .columns {
margin-top: 55px;
}
h2 code, h3 code, h4 code {
color: black;
}
.title-image  img {
max-height: 300px;
}

/* hide banner and navbar of gt guidelines / pagexml docs */
header[role="banner"] { display: none; }
nav[role="toc"] { display: none; }
footer[role="contentinfo"] { display: none; }

/* hide stuff from sphinx docs */
div.related[role="navigation"] { display: none; }
div.footer[role="contentinfo"] { display: none; }

/* dfg logo */
footer.footer img.footer-logo { max-height: 100px; }

/* OCR-D logos */
.ocrd-homepage .tile a[href="/de"] img { height: 100px; }
.ocrd-homepage .tile a[href="/en"] img { height: 90px; }


