<footer class="footer" style="padding: 1rem">
    <div class="content has-text-centered">
      <a href="https://github.com/OCR-D">GitHub</a>
      |
      <a href="https://gitter.im/OCR-D/Lobby">gitter</a>
      |
      <a href="https://hub.docker.com/u/ocrd">Docker Hub</a>
      |
      <a href="/sitemap.xml">sitemap.xml</a>
      |
      <img class="footer-logo" src="/assets/dfg_logo_{%- if page.lang == 'en' -%}eng{%- else -%}ger{%- endif -%}.jpg" alt="DFG logo"/>
    </div>

<script src="/assets/script.js"></script>
</footer>
