<footer class="footer" style="padding: 1rem">
    <div class="content has-text-centered">
      <img class="footer-logo" src="/assets/dfg_logo_{%- if page.lang == 'en' -%}eng{%- else -%}ger{%- endif -%}.jpg" alt="DFG logo"/>
    </div>
    <!-- <div class="content has-text-centered"> -->
    <!--   <img class="footer-logo" src="/assets/logo-bbaw.png" alt="BBAW logo"/> -->
    <!--   <img class="footer-logo" src="/assets/logo-hab.gif" alt="HAB logo"/> -->
    <!--   <img class="footer-logo" src="/assets/logo-kit.png" alt="KIT logo"/> -->
    <!--   <img class="footer-logo" src="/assets/logo-sbb.png" alt="SBB logo"/> -->
    <!-- </div> -->
    <div class="content has-text-centered">
		<a href="https://github.com/OCR-D">GitHub</a>
		|
		<a href="https://gitter.im/OCR-D/Lobby">Gitter</a>
		|
		<a href="https://twitter.com/OCR_D_community">Twitter</a>
		|
		<a href="https://github.com/OCR-D/ocrd-website/wiki">Wiki</a>
		|
		<a href="https://hub.docker.com/u/ocrd">Docker Hub</a>
		|
		<a href="https://www.zotero.org/groups/418719/ocr-d">Technology Watch</a>
		|
		<a href="/sitemap.xml">sitemap.xml</a>
		|
		{% if page.lang == 'de' %}
			<a href="/de/impressum">Impressum</a>
		{% else %}
			<a href="/en/imprint">Imprint</a>
		{% endif %}
    </div>

<script src="/assets/script.js"></script>
</footer>
