<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" href="https://avatars0.githubusercontent.com/u/26362587?s=200&amp;v=4"></link>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/bulma.css"></link>
  <link rel="stylesheet" href="/assets/bulma-switch.min.css"></link>
  <link rel="stylesheet" href="/assets/syntax-highlight.css"></link>
  <link rel="stylesheet" href="/assets/ocrd.css"></link>
</head>
