<nav class="navbar is-transparent is-fixed-top">

  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/ocrd-logo-small.png" height="28"/>
    </a>
    <div class="navbar-burger burger" data-target="ocrd-navbar-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="ocrd-navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      {% for toplevel_menuitem in site.data.menu.menu_structure %}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">{{ toplevel_menuitem.label[page.lang] }}</a>
        <div class="navbar-dropdown">
          {% for child_menuitem in toplevel_menuitem.children %}
          <a class="navbar-item" href="/{{ page.lang }}/{{ child_menuitem.url }}">{{ child_menuitem.label[page.lang] }}</a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

    </div>

    <div class="navbar-end">

      <span class="navbar-item">
         
    {% if page.layout != 'index' and page.lang-ref %}
        {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
        {% if posts.size == 0 %}
          {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
        {% endif %}
        {% if posts.size != 0 and posts.size != 1 %}
            {% for post in posts %}
            {% if page.lang != post.lang and page.lang-ref == post.lang-ref %}
            <a href="{{ site.base-url }}{{ post.url }}" title="View in {{post.lang}}">
              <img style="height: 100px" src="/assets/{{ post.lang }}.svg"/>
            </a>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
         
      </span>

    </div>
  </div>
</nav>
