<nav class="navbar is-transparent is-fixed-top">

  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/ocrd-logo-small.png" height="28"/>
    </a>
    <div class="navbar-burger burger" data-target="ocrd-navbar-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="ocrd-navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      {% for toplevel_menuitem in site.data.menu.menu_structure %}
      {% if toplevel_menuitem.children %}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/{{ page.lang }}/{{ toplevel_menuitem.url }}">{{ toplevel_menuitem.label[page.lang] }}</a>
        <div class="navbar-dropdown">
          {% for child_menuitem in toplevel_menuitem.children %}
          {% assign firstchar = child_menuitem.url | slice: 0, 1 %}
          <a class="navbar-item" href="{% if firstchar != '/' %}/{{ page.lang }}/{% endif %}{{ child_menuitem.url }}">{{ child_menuitem.label[page.lang] }}</a>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <a class="navbar-item" href="/{{ page.lang }}/{{ toplevel_menuitem.url }}">{{ toplevel_menuitem.label[page.lang] }}</a>
      {% endif %}
      {% endfor %}

    </div>

    <div class="navbar-end">

      <span class="navbar-item">
         
    {%- if page.layout != 'index' and page.lang-ref -%}
        {%- assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' -%}
        {%- if posts.size == 0 -%}
          {%- assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' -%}
        {%- endif -%}
        {%- if posts.size != 0 and posts.size != 1 -%}
            {%- for post in posts -%}
            {%- if page.lang != post.lang and page.lang-ref == post.lang-ref -%}
            <a href="{{ site.base-url }}{{ post.url }}" title="{% if page.lang == 'en' %}View in German{% else %}Auf Englisch lesen{% endif %}">
              {{  post.lang }}
            </a>
            {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endif -%}
         
      </span>

    </div> </div> </nav>
