---
layout: page
lang: de
lang-ref: ./site/_includes/head.html
---

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" href="https://avatars0.githubusercontent.com/u/26362587?s=200&amp;v=4"></link>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/bulma.css"></link>
  <link rel="stylesheet" href="/assets/syntax-highlight.css"></link>
  <style>
  #swagger-ui pre.version {
    padding: 2px !important;
    background: initial !important;
  }
  #swagger-ui .topbar {
    display: none;
  }
  blockquote {
    background: #f99;
  }
  aside.menu > ul { 
    position: fixed;
    overflow-y: auto;
    height: calc(100vh - 150px);
  }
  body > #swagger-ui,
  body > .columns {
    margin-top: 55px;
  }
  h2 code, h3 code, h4 code {
    color: black;
  }
  .title-image  img {
    max-height: 300px;
  }

  </style>
</head>
