<nav class="navbar is-transparent is-fixed-top">

  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://avatars0.githubusercontent.com/u/26362587?s=200&v=4" height="28"/>
    </a>
    <div class="navbar-burger burger" data-target="ocrd-navbar-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="ocrd-navbar-menu" class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Specs</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/cli">CLI</a>
          <a class="navbar-item" href="/mets">METS</a>
          <a class="navbar-item" href="/page">PAGE</a>
          <a class="navbar-item" href="/ocrd_zip">OCRD-ZIP</a>
          <a class="navbar-item" href="/ocrd_tool">ocrd-tool.json</a>
          <a class="navbar-item" href="/docker">Dockerfile</a>
          <a class="navbar-item" href="/gt">Ground Truth Guidelines</a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Docs</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/core">OCR-D/core API</a>
          <a class="navbar-item" href="/slides">Slides / Presentations</a>
          <a class="navbar-item" href="/docs/guide">Guide</a>
          <a class="navbar-item" href="/docs/cookbook">Cookbook</a>
          <a class="navbar-item" href="/docs/faq">FAQ</a>
          <a class="navbar-item" href="/docs/dita">Documenting with DITA</a>
          <a class="navbar-item" href="/docs/vbox">Setting up VirtualBox</a>
          <a class="navbar-item" href="https://ocr-d-repo.scc.kit.edu/api/v1/metastore/bagit">GT Repo</a>
          <a class="navbar-item" href="/projects">OCR-D Module Projects</a>
        </div>
      </div>

      <a class="navbar-item" href="/glossary">Glossary</a>

    </div>

    <div class="navbar-end">

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Older versions</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/v1.0.0">v1.0.0</a>
          <a class="navbar-item" href="/v1.1.0">v1.1.0</a>
          <a class="navbar-item" href="/v1.1.1">v1.1.1</a>
          <a class="navbar-item" href="/v1.1.2">v1.1.2</a>
          <a class="navbar-item" href="/v1.1.3">v1.1.3</a>
          <a class="navbar-item" href="/v1.1.4">v1.1.4</a>
          <a class="navbar-item" href="/v1.1.5">v1.1.5</a>
          <a class="navbar-item" href="/v1.2.0">v1.2.0</a>
          <a class="navbar-item" href="/v1.3.0">v1.3.0</a>
          <a class="navbar-item" href="/v2.0.0">v2.0.0</a>
          <a class="navbar-item" href="/v2.1.0">v2.1.0</a>
          <a class="navbar-item" href="/v2.1.1">v2.1.1</a>
          <a class="navbar-item" href="/v2.1.2">v2.1.1</a>
          <a class="navbar-item" href="/v2.2.0">v2.2.0</a>
          <a class="navbar-item" href="/v2.2.1">v2.2.1</a>
          <a class="navbar-item" href="/v2.2.2">v2.2.2</a>
          <a class="navbar-item" href="/v2.3.0">v2.3.0</a>
          <a class="navbar-item" href="/v2.3.1">v2.3.1</a>
          <a class="navbar-item" href="/v2.4.0">v2.4.0</a>
          <a class="navbar-item" href="/v2.5.0">v2.5.0</a>
          <a class="navbar-item" href="/v2.6.0">v2.6.0</a>
          <a class="navbar-item" href="/v2.6.1">v2.6.1</a>
          <a class="navbar-item" href="/v2.6.2">v2.6.2</a>
          <a class="navbar-item" href="/v2.7.0">v2.7.0</a>
          <a class="navbar-item" href="/v3.0.0">v3.0.0</a>
          <a class="navbar-item" href="/v3.1.0">v3.1.0</a>
          <a class="navbar-item" href="/v3.2.0">v3.2.0</a>
          <a class="navbar-item" href="/v3.2.1">v3.2.1</a>
          <a class="navbar-item" href="/">v3.3.0</a>
        </div>
      </div>

      <span class="navbar-item">
        <a href="https://github.com/OCR-D"><img src="https://www.vectorlogo.zone/logos/github/github-tile.svg"/></a>
        &nbsp;
        <a href="https://hub.docker.com/r/ocrd"><img src="https://www.vectorlogo.zone/logos/docker/docker-tile.svg"/></a>
        &nbsp;
        <a href="https://ocr-d.de"><img src="https://www.vectorlogo.zone/logos/fileformatinfo/fileformatinfo-tile.svg"/></a>
      </span>

    </div>
  </div>
</nav>
