[submodule "docs/ocrd-kwalitee"]
	path = repo/ocrd-kwalitee
	url = https://github.com/kba/ocrd-kwalitee
[submodule "repo/gt-guidelines"]
	path = repo/gt-guidelines
	url = https://github.com/OCR-D/gt-guidelines
[submodule "repo/spec"]
	path = repo/spec
	url = https://github.com/OCR-D/spec
[submodule "site/slides/ocrd-2018-07-11/reveal"]
	path = site/slides/ocrd-2018-07-11/reveal
	url = https://github.com/hakimel/reveal.js
[submodule "site/slides/2019-02-27-ocrd-dev-ws/reveal"]
	path = site/slides/2019-02-27-ocrd-dev-ws/reveal
	url = https://github.com/hakimel/reveal.js
[submodule "repo/ocrd-website.wiki"]
	path = repo/ocrd-website.wiki
	url = https://github.com/OCR-D/ocrd-website.wiki.git
[submodule "repo/ocr-d.github.io"]
	path = repo/ocr-d.github.io
	url = https://github.com/OCR-D/ocr-d.github.io
[submodule "repo/core"]
	path = repo/core
	url = https://github.com/OCR-D/core
