/* DITA Open Toolkit documentation style */

/****************************************
Import Prism
****************************************/

@import url("https://prismjs.com/themes/prism.css");

/****************************************
Basic fonts and typography
****************************************/

@font-face {
  font-family: JuniusVF;
  src: url('https://psb1558.github.io/Junicode-font/webfiles/JuniusVF.woff2');
  font-weight: 300 700;
  font-stretch: 60% 100%;
  font-style: normal;
}



article {
  color: #333;
  position: relative;
}



body {
  background-color: white;
  background-image: -webkit-linear-gradient(left, #eee 0%, #fff 300px); /* Chrome10+,Safari5.1+ */
  background-image:    -moz-linear-gradient(left, #eee 0%, #fff 300px); /* FF3.6+ */
  background-image:         linear-gradient(left, #eee 0%, #fff 300px); /* W3C */
  color: #333;
  font-family: Bitter, 'Noto Serif', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, JuniusVF;
  margin: 0;
  padding: 0;
  
}





header {
    background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);
    padding:0;
    margin:0;
    padding-top: 1em;
    padding-right: 1em;
}

/* ↓ header-coderef ↓ */

table.header {
  padding: 1px;
  border: 0;
}


td.td1 {
  width: 10%;
  box-shadow: none;
  border-radius: 0em;
  padding:0em;
}

td.td2 {
  width: 90%;
  font-size: 36pt; 
  color: #555; 
  box-shadow: none;
  text-align: left;
  border-radius: 0em;
  padding:0em;
  text-indent: -4px;
  }


span.language {
    float:right;
    font-size:12pt;
}



div.header {
  font-size: 18pt;
  margin: 0;
  
}

div.header table {
    margin:0;
    padding:0;
}

div.header p {
  color: #777;
  font-family: Bitter, 'Noto Serif', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, JuniusVF;
  line-height: 1.3;
  margin: 0;
}

div.header hr {
  border: 0;
  border-bottom: 1px solid #c8ab37;
  height: 0;
}
/* ↑ end-header-ref ↑ */

caption,
th, td.description {
  font-family: Bitter, 'Noto Serif', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, JuniusVF;
  font-size: 10pt;
}


code,
pre,
.cmdname,
.filepath,
.msgnum,
.option,
.parmname {
  color: #777;
  font-family: 'Noto Sans Mono', 'Liberation Mono', Menlo, Monaco, Consolas, 'Courier New', monospace, JuniusVF;
  font-size: 90%;
}

/****************************************
Headings
****************************************/

h1,
h2,
h3 {
  color: #1d365d;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  padding: 0;
}

h1 .filepath,
h2 .filepath,
h3 .filepath {
  font-family: Bitter, 'Noto Serif', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, JuniusVF;
  font-size: 12pt;
  font-weight: bold;
}

h1 .filepath {
  color: #1d365d;
}

.sectiontitle {
  color: #1d365d;
  font-weight: bold;
}

.topictitle1 {
  margin-top: 1em;
}

/****************************************
Basic identation, padding, and margins
****************************************/

main {
  margin-left: 300px;
}

blockquote,
li,
p {
  line-height: 150%;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.75em;
  padding: 0;
}

dd {
  line-height: 125%;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

dl {
  line-height: 125%;
  margin-bottom: 0.75em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.75em;
  padding: 0;
}

ol,
ul {
  margin-bottom: 0.75em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.75em;
  padding: 0;
}

pre {
  margin: 10px 0;
  padding: 0;
}

/****************************************
Block elements
****************************************/

.codeblock,
.screen {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
}

/****************************************
Figures
****************************************/

figcaption {
  font-style: italic;
}

.logo {
  width: 80%;
  height: auto;
  padding: 10px;
}
/****************************************
In-line elements
****************************************/

.cmdname,
.msgnum {
  font-weight: bold;
}

/****************************************
Links
****************************************/

a:link {
  color: #3563ab;
  text-decoration: none;
}

a:visited {
  color: #3563ab;
}

a:active,
a:hover {
  color: #1d365d;
  text-decoration: underline;
}

.related-links {
  color: #555;
}

.linklist {
  margin-top: 1em;
}

/****************************************
Notes
****************************************/

.note {
  line-height: 125%;
  margin-left: 2em;
  margin-right: 0;
  padding: 0;
  font-style:italic;
}

.caution,
.notelisttitle,
.note__title {
  font-weight: bold;
}

/****************************************
Tables
****************************************/
.frame-all {
    border: solid 1px;
    max-width: 70% !important;
}


table
table.frame-all{
  border-color: Silver;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1px;
  font-family: Bitter, 'Noto Serif', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, JuniusVF;
}

tr {
  border-color: Silver;
}

td {
  border-color: Silver;
  padding: 0.8em;
  border-radius: 0.1em;
  /*box-shadow: inset 1px 3px 5px -3px rgba(0, 0, 0, 0.5);*/
  font-family: Bitter, 'Noto Serif', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, JuniusVF;
  /*font-size: 1.2em;*/
}

th {
  background-color: #eee;
  padding: 1.2em 1.5em;
  border: 1px solid #eee;
}

.table--title-label {
  font-weight: bold;
}

caption {
  text-align: left;
}

/****************************************
Button
****************************************/
.ccb {
      float: right; 
      font-size:x-large;
      background-color: silver;
      border: none;
      color: white;
      opacity: 0.1;
      transition: 0.3s;
      text-decoration: none;
      cursor: copy;
     }

.ccb:hover {
     opacity: 1;
     }

/****************************************
ToolTips, Highlight Link and ExampleBoxes
****************************************/

.hidden {
    visibility: hidden;
}


.term {
  visibility: hidden;
  width: auto;
  background-color: gray;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  margin: -15px 0 0 10px;
  z-index: 1;
}

.entry:hover .term {
  visibility: visible;
}	 

span.tip {
    display:block;
}

#topic_t5h_w2m_gz__Tilde_Makron:target  {
            border: 2px solid #D4D4D4;
            background-color: orange;
            color: white;
         }


#topic_t5h_w2m_gz__Doppelung:target  {
            border: 2px solid #D4D4D4;
            background-color: #886628;
            color: white;
         }

#Ligaturen__vLigatur:target  {
            border: 2px solid #D4D4D4;
            background-color: orange;
            color: white;
         }

.example_block {
    background: #fefaf5;
    padding: 6px;
    border: 1px solid;
    box-shadow: 10px 10px 5px grey;
    border-radius: 15px 15px 15px 15px;
    width: 70%;
    }


/****************************************
Navigation
****************************************/

/* ↓ nav-coderef ↓ */
nav[role=toc] {
  float: left;
  width: 300px;
  background-image: linear-gradient(90deg, #f8f8f8 0%, #ffffff 50%);
}

nav[role=toc] li.active > a {
  font-weight: bold;
  background-color: #e6e6e6;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 3px 3px 3px 3px;
  line-height:1.6;	
}

/* ↑ end-nav-ref ↑ */

nav[role=toc] > ul {
  margin-right: 2em;
}

nav[role=toc] > ul > li ul {
  margin-left: 1.2em;
}



/****************************************
Navigation DITA
****************************************/
a.nodeco {
    color: #555;
}


.ulchildlink {
         margin-top: 0pt;    
         margin-bottom: 0pt;
}


.ullinks::before {
    content: "Topics:" !important;
    margin-left: -2em;
    font-weight: bold;
}


.ullinks {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
}


nav.related-links > ul > li > strong {font-weight:normal !important;}



/****************************************
Index Tiles
****************************************/
div.linklist_index > strong {
  padding-bottom: 2em;
}


div.linklist_index > ul.linklist {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 20px;
  background-color: #fff;
  color: rgb(249, 245, 235);
  margin-top: 2em;
}

div.linklist_index > ul.linklist > li.linklist {
  background-color: rgb(249, 245, 235);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px grey;
}

div.linklist_index > ul.linklist > li.linklist > a {color: rgb(130, 123, 102);}


/****************************************
Header
****************************************/

.small {
  font-size: 12pt;
}


/****************************************
Footer
****************************************/


footer {

  
    background: white;
    bottom: 0;
    margin: 0;
    padding: 0.5em 1em;
    position: fixed;
    right: 0;
    opacity: 0.5;
    border-radius: 20px;
    border-top-color: #777;
    
  }


/****************************************
Table Frame and Specials 
****************************************/
table.frame-all>tbody>tr>td {
  border: solid 1px;}

table.frame-all>thead>tr>th {
  border: solid 1px !important;}

table.table.guidelines>thead>tr>th {
                              border: solid 1px !important;}


table.table.guidelines>tbody>tr>td {
                              border: solid 1px !important;
                              font-family: Bitter, 'Noto Serif', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, JuniusVF;
                              font-size: 12pt;}
}

tr.color0{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color1{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color2{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color3{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color4{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color5{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color6{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color7{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color8{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color9{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color10{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color11{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color12{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color13{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color14{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}
tr.color15{background-image: linear-gradient(10deg, #f8f8f8 0%, #c8ab37 50%);}



/****************************************
Google-Search
****************************************/

.gsc-control-wrapper-cse {
    width: 50% !important;
}


.gsc-control-cse.gsc-control-cse-de {
    background-color: hsl(0deg 0% 0% / 0%)!important;
    border: none !important;
} 


.gsc-control-cse {
    background-color: hsl(0deg 0% 0% / 0%)!important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 60% !important;
}


.gsc-input-box {
    /* border: 1px solid #dfe1e5; */
    /*background: #fff;
    border-radius: 3px;*/
}


.gs-title {
    text-indent: 0px !important;

}

.gsc-search-button-v2 {
    font-size: 0;
    padding: 6px 27px;
    width: auto;
    vertical-align: middle;
    border: 1px solid #666;
    border-radius: 2px;
    border-color: gold !important;
    background-color: gold !important;
}

table.gstl_50 gsc-input {
    width: 100% !important;
}

td.gsc-result-info-container, td.gsc-orderby-container {
    font-family: Bitter, 'Noto Serif', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, JuniusVF !important;
    font-size: 12pt !important;
}


.gcsc-find-more-on-google-query {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* display: inline-block; */
    vertical-align: middle;
    font-weight: bold;
}