---
layout: page
lang: de
lang-ref: ./site/_layouts/home.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/home.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/home.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/home.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/home.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/home.html
---

---
lang: en
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    {{ content }}


    {%- include footer.html -%}

  </body>

</html>
