---
lang: en
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}


    <div class="columns">

      <main class="container content column" aria-label="Content">

        <div class="tile is-ancestor">

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title"><a href="intro">Developers / System Administrators</a></p>
              <p class="title title-image">
                <img src="https://media.giphy.com/media/3oKIPcqmx1mpCOJJp6/giphy.gif" height="200"/>
              </p>
              <p class="subtitle">Start here if you want to want to to contribute to OCR-D development</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title"><a href="cli">System Librarians / Digitization experts</a></p>
              <p class="title title-image">
                <img src="{{ "/assets/ocr-race.gif" | relative_url }}"/>
              </p>
              <p class="subtitle">Start here if you are ready to start using OCR-D in your institution</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title"><a href="cli">Decision Makers / Strategists</a></p>
              <p class="title title-image">
                <img src="https://media.giphy.com/media/eW3M2u8Xk9z3y/giphy-downsized.gif" />
              </p>
              <p class="subtitle">Start here if you want to find out how OCR-D can help your institution and grow your business</p>
            </article>
          </div>

        </div>

      </main>

    </div>

    {%- include footer.html -%}

  </body>

</html>
