---
layout: page
lang: de
lang-ref: ./site/_layouts/page.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/page.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/page.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/page.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/page.html
---

---
layout: page
lang: de
lang-ref: ./site/_layouts/page.html
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <div class="columns">
      {% if page.toc %}
      <aside class="column is-one-third menu">
        {% include toc.html html=content class="menu-list.column.is-one-third" h_min=1 %}
      </aside>
      {% endif %}

      <main class="container content column {% if page.toc %}is-two-thirds{% endif %}" aria-label="Content">
        {{ content }}
      </main>
    </div>

    {%- include footer.html -%}

  </body>

</html>
