<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <div class="wrapper{% if page.toc %} has-toc{% endif %}">
      {% if page.toc %}
      <aside id="toc-sidebar">
        <div id="toc-sidebar-toggle">
          <a class="button is-outlined is-link" title="
          {% if page.lang == 'en' -%} Toggle Table of Contents
          {% elsif page.lang == 'de' %} Inhaltsverzeichnis umschalten
          {% endif %}
        ">
            <i class="fa"></i>
          </a>
        </div>
        <div class="toc-wrapper">
          <div class="toc-header">
            <h2>
              {% if page.lang == 'en' -%} Table of Contents
              {% elsif page.lang == 'de' %} Inhaltsverzeichnis
              {% endif %}
            </h2>
          </div>
          <div class="toc-body">
            {% include toc.html html=content class="menu-list" h_min=1 %}
          </div>
        </div>
      </aside>
      {% endif %}

      <main class="container content {{ page.id }}" aria-label="Content">
        {{ content }}
      </main>
    </div>

    {%- include footer.html -%}

  </body>

</html>
