<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <div class="columns">
      <aside class="column is-one-third menu">
        {% include toc.html html=content class="menu-list.column.is-one-third" h_min=1 %}
      </aside>

      <main class="container content column is-two-thirds" aria-label="Content">
        {{ content }}
      </main>
    </div>

    {%- include footer.html -%}

  </body>

</html>
